# IP address the proxy should listen on
PROXY_LISTEN_IP=192.168.1.1

# Port the proxy should listen on
PROXY_LISTEN_PORT=8080

# URL of the remote login page (where users are redirected)
CAPTIVE_PORTAL_TARGET_URL=http://auth.ganainy.online/login.html

# Domain name used for captive portal detection checks (used to prevent redirect loops)
CAPTIVE_DOMAIN=captive.ganainy.online
