RewriteEngine On
RewriteRule ^welcome$ /welcome.html [L]
RewriteRule ^login$ /login.html [L]
RewriteRule ^signup$ /signup.html [L]
RewriteRule ^terms-of-service$ /terms-of-service.html [L]
RewriteRule ^privacy-policy$ /privacy-policy.html [L]
RewriteRule ^signup-error$ /signup-error.html [L]
RewriteRule ^login-error$ /login-error.html [L]
